__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.env
.env.*
!.env.example

.idea/
.vscode/

.DS_Store
Thumbs.db

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/
/playwright_user_data/
